/* styles.css*/
* {
    background-color: rgb(43, 0, 43);
    color: red;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#title {
    text-align: center;
    font-size: 60px;
    font-weight: 900
   
}
#list .clm {
    color: rgb(5, 119, 1);
}
#list .ccb {
    color: yellow;
}
#list .sbb {
    color: black
}
.recipe-list {
    font-size: 40px
}
h2 {
    font-size: 25px;
    font-weight: bold
}